.sidebar {
width: 230px;
height: 100vh;
background: linear-gradient(180deg, #0f172a, #2563eb);
color: white;
padding: 24px;
}


.sidebar h2 {
margin-bottom: 40px;
font-size: 20px;
}


.sidebar ul {
list-style: none;
padding: 0;
}

.sidebar li {
margin-bottom: 18px;
cursor: pointer;
opacity: 0.9;
}


.sidebar li:hover {
opacity: 1;
}