.login-container {
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background: linear-gradient(135deg, #2563eb, #ffffff);
}

.login-box {
background: white;
padding: 40px;
width: 360px;
border-radius: 12px;
box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}


.login-box h2 {
margin-bottom: 24px;
color: #0f172a;
text-align: center;
}


.login-box input {
width: 100%;
padding: 12px;
margin-bottom: 16px;
border-radius: 8px;
border: 1px solid #cbd5e1;
}


.login-box button {
width: 100%;
padding: 12px;
border: none;
border-radius: 8px;
background: #2563eb;
color: white;
font-weight: bold;
cursor: pointer;
}